body{
    background-color: blue;
}
@media screen and ( min-width: 680px) {
    body{
        background-color: brown;
    }
}
h1{
    color: aqua;
}
@media screen and ( max-width: 400px) {
    h1{
        color: yellow;
        font-weight: bolder;
    }
}
.go{
    display: flex;
    justify-content: space-around;
flex-direction:row-reverse;
}
.gom{
    border: 10px solid;

}
.bo{
    border: 10px solid;
}
@media screen and ( max-width:400px) {
    .go{
        display: flex;
        flex-direction: column;
    }
}
    
.ok{
    display: flex;
    justify-content:space-around;
    border: 5px solid;
    margin:10px;
}
